* {
	text-align: center;
}

body {
	background-color: black;
}

#home {
	background-image: url("CarGo.png"); 
    background-repeat: no-repeat;	
    background-attachment: relative; 
}

/*
.position-relative {
	background-color: rgba(0,0,0,0.1);
}

*/