<footer>
	<div>
		<nav>
			<ul>
				<li>
					<a href="">Home</a>
					<a href="">About</a>
					<a href="">Services</a>
					<a href="">Contact Us</a>
				</li>
			</ul>
		</nav>

		<nav>
			<p>Locations</p>
			<ul>
				<li></li>
			</ul>
		</nav>
	</div>

	<div>
		<div>
			<a href="">fbicon</a>
			<a href="">instaicon</a>
			<a href="">twittericon</a>
		</div>

		<div></div>
	</div>

	<div>
		<div>
			<ul>
				<li>Privacy</li>
				<li>Cookies</li>
				<li>Terms</li>
				<li>Cancellation Policy</li>
			</ul>
		</div>

		<div>&copy; 2018 CarGo. All rights reserved.</div>
	</div>
</footer>