<header>
		<div>
			<div>
				<h1>CarGo</h1>

				<div>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Services</a></li>
					</ul>
				</div>

				<div>
					<ul>
						<li><a href="#">Log In</a></li>
						<li><a href="#">Register</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>
