<nav class="site-header sticky-top py-1">
	  <div class="container d-flex flex-column flex-md-row justify-content-between">
	    
	   <a class="navbar-brand" href="/main">Services Offered</a>
	   <a class="navbar-brand" href="/show-reservation">Show Reservations</a>
	   <a class="navbar-brand" href="/transaction">Transaction Monitoring</a>
	   <a class="navbar-brand" href="/payment">Payments</a>

	    <a class="navbar-brand" href="/logout">Logout</a>
	  </div>
</nav>