<nav class="site-header sticky-top py-1">
	  <div class="container d-flex flex-column flex-md-row justify-content-between">
	    <a class="navbar-brand" href="index.html" id="home">Service Provider</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	   
	   <a class="py-2 d-none d-md-inline-block" href="/main">Services Offered</a>
	   <a class="py-2 d-none d-md-inline-block" href="/show-reservation">Show Reservations</a>
	   <a class="py-2 d-none d-md-inline-block" href="/transaction">Transactions</a>
	   <a class="py-2 d-none d-md-inline-block" href="/create-services">Create Services</a>


	    <a class="py-2 d-none d-md-inline-block" href="signin.html">Logout</a>
	  </div>
</nav>