<nav class="site-header sticky-top py-1">
	  <div class="container d-flex flex-column flex-md-row justify-content-between">

	   <a href="/profile" class="fa fa-user-circle" style="font-size:36px;color:white"></a>
	   <a class="navbar-brand" href="/main">Home</a>
	   <a class="navbar-brand" href="/show-reservation">Reservations</a>
	   <a class="navbar-brand" href="/transaction">Transactions</a>
	   <a class="navbar-brand" href="/payment">Payments</a>
	  </div>
</nav>