<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Create</title>

    <!-- Bootstrap core CSS -->
    <link href="style/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="style/form-validation.css" rel="stylesheet">
    <link href="style/product.css" rel="stylesheet">
  </head>

  <body class="bg-light">

     <nav class="site-header sticky-top py-1">
      <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="navbar-brand" href="index.html" id="home">Service Provider</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
       
       <a class="py-2 d-none d-md-inline-block" href="show reservation.html">Show Reservations</a>

         <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="#">Transaction Monitoring</a>
                <a class="dropdown-item" href="#">Services Offered</a>
              </div>

        <a class="py-2 d-none d-md-inline-block" href="signin.html">Logout</a>
      </div>
    </nav>

    <div class="container">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h2>Rentals Offered</h2>
        <p class="lead">Create a new Rental</p>
      </div>

      <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">List of Rentals</span>
            <span class="badge badge-secondary badge-pill"></span>
          </h4>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Service Offered</h6>
                <small class="text-muted">Brief description</small>
              </div>
              <span class="text-muted">Price</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Service Offered</h6>
                <small class="text-muted">Brief description</small>
              </div>
              <span class="text-muted">Price</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Service Offered</h6>
                <small class="text-muted">Brief description</small>
              </div>
              <span class="text-muted">Price</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Service Offered</h6>
                <small class="text-muted">Brief description</small>
              </div>
              <span class="text-muted">Price</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Service Offered</h6>
                <small class="text-muted">Brief description</small>
              </div>
              <span class="text-muted">Price</span>
            </li>
            
          </ul>

          <form class="card p-2">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search Rentals">
              <div class="input-group-append">
                <button type="submit" class="btn btn-secondary">Search</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Create a Service</h4>
          <form class="needs-validation" novalidate>

            <div class="row">
              <div class="col-md-5 mb-3">
                <label for="country">Type of Car</label>
                <select class="custom-select d-block w-100" id="country" required>
                  <option value="">Choose...</option>
                  <option>soemthing here</option>
                </select>
                <div class="invalid-feedback">
                  Please select a valid country.
                </div>
              </div>
              <div class="col-md-5 mb-3">
                <label for="country">Brand of Car</label>
                <select class="custom-select d-block w-100" id="country" required>
                  <option value="">Choose...</option>
                  <option>soemthing here</option>
                </select>
                <div class="invalid-feedback">
                  Please select a valid country.
                </div>
              </div>
              <div class="col-md-5 mb-3">
                <label for="country">Model of Car</label>
                <select class="custom-select d-block w-100" id="country" required>
                  <option value="">Choose...</option>
                  <option>soemthing here</option>
                </select>
                <div class="invalid-feedback">
                  Please select a valid country.
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="state">Number of Passengers</label>
                <select class="custom-select d-block w-100" id="state" required>
                  <option value="">Choose...</option>
                  <option>California</option>
                </select>
                <div class="invalid-feedback">
                  Please provide a valid state.
                </div>
              </div>
              <div class="mb-3">
              <label for="username">Price per Day</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">P</span>
                </div>
                <input type="text" class="form-control" id="username" placeholder="Username" required>
                <div class="invalid-feedback" style="width: 100%;">
                  Price is required.
                </div>
              </div>
            </div>
            </div>
            <hr class="mb-4">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="same-address">
              <label class="custom-control-label" for="same-address">Payment: cash only </label>
            </div>
            <hr class="mb-4">

           
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Create Rental </button>
          </form>
        </div>
      </div>
    </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; CarGo 2018</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
      </footer>  
  </body>
</html>

