<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="style/icons/car.png">

    <title>Error</title>

    <!-- Bootstrap core CSS -->
    <link href="style/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="style/product.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="blog.css" rel="stylesheet">
  </head>

  <body>

    <nav class="site-header sticky-top py-1">
      <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="navbar-brand" href="index.html" id="home">CarGo</a>
       
        <a class="py-2 d-none d-md-inline-block" href="#home">Home</a>
        <a class="py-2 d-none d-md-inline-block" href="#about">About</a>
        <a class="py-2 d-none d-md-inline-block" href="#contact">Contact Us</a>
    </nav>

   <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <p class="lead font-weight-normal">Login failed</p>
        <p>Invalid username/password</p>
        <a class="btn btn-outline-secondary" href="/login">Log in here again</a> 
      </div>

      <div>Put a pic of a car</div>
      <div>Put a pic of another car</div>

      <!--
      <div class="product-device box-shadow d-none d-md-block"></div>
      <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
      -->
    </div>


    <footer class="my-5 pt-5 text-muted text-center text-small" id="contact">
        <div class="list-inline">
          <a class="icon-link"><img class="socialmed" src="style/icons/fbicon.png" alt="icon"></a>
          <a class="icon-link"><img class="socialmed" src="style/icons/twittericon.png" alt="icon"></a>
          <a class="icon-link"><img class="socialmed" src="style/icons/igicon.png" alt="icon"></a>
        </div>
        <p class="mb-1">&copy; CarGo 2018</p>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
          </ul>
    </footer>
  </body>
</html>
