<!DOCTYPE html>
<html>
<head>
  <title>CarGo 2018</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image" href="styles/logo.png" />
  <link rel="stylesheet" type="text/css" href="styles/homeStyle.css" media="screen">
</head>
<body>
  <% include partials/header %>

    <div class="content" style="text-align: center;">
    <h1>Login</h1>

    <form class="form-inline" action="/login" method="post">
    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="Password" required="require"><br>
    <input type="submit" name="login" value="Login">
    </form>
  </div>  

  <% include partials/footer %>
</body>
</body>
</html>