<!DOCTYPE html>
<html>
<head>
  <title>CarGo 2018</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  
  <% include partial/nav %>

  <div class="container-fluid">
    <div class="page-header">
      <h1>Welcome, CarGo Service Provider</h1>
    </div>

    <h2>Reservations</h2>
    <table class="table table-hover">
      
    </table>
    
  </div>


  <main>
    
    <div class="firstBanner">
      <div class="overlay">
        <div class="bannerHeader">

          <h1>CarGo</h1>
          <p>Rent your local, trusted service provider</p>
          
        </div>
      </div>
    </div>

  </main>




  <footer class="site-footer">
    <div class="row">
      <nav class="footerOne columns">
        <ul class="footerLink" id="mainFooterLinks">
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#popService">Service</a></li>
          <li><a href=""></a>Contact Us</li>
        </ul>
      </nav>
    </div>

    <div class="row">
      <div class="socialMediaIcons">
        <a class="icon-link"><img class="socialmed" src="style/icons/fbicon.png" alt="icon"></a>
        <a class="icon-link"><img class="socialmed" src="style/icons/twittericon.png" alt="icon"></a>
        <a class="icon-link"><img class="socialmed" src="style/icons/igicon.png" alt="icon"></a>
      </div>
      <div class="footer-divider"></div>
    </div>

    <div class="row pad-top">

      <div class="left">
        <ul class="footerLast">
          <li>Privacy</li>
          <li>Cookies</li>
          <li>Terms</li>
          <li>Cancellation Policy</li>
        
        </ul>
      </div>
      <div class="right">© 2018 CarGo. All rights reserved.</div>     
    </div>

  </footer>
</body>
</html>